<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="~{fragments/resources :: styling}" />
    <title>ClimbIt</title>
    <link rel="icon" type="image/png" href="/img/logo.png" />
  </head>
  <body>
    <header>
      <th:block th:replace="~{fragments/navbar}" />
    </header>
    <main>
      <div class="container">
        <section class="my-5">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-end">
              <h1 class="mb-3 me-3">Lista regioni</h1>
              <a
                class="add-button btn btn-primary mb-3 rounded-5 text-center"
                th:href="@{/regions/create}"
                ><i class="fa-solid fa-plus"></i
              ></a>
            </div>
            <div class="d-flex align-items-center mb-2">
              <form
                class="d-flex ms-auto me-3"
                role="query"
                th:action="@{/regions/search}"
                method="get"
              >
                <input
                  class="form-control me-2"
                  type="query"
                  name="query"
                  placeholder="Cerca"
                  aria-label="Cerca"
                />
                <button class="btn btn-outline-success" type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </form>
            </div>
          </div>

          <hr />
          <div class="row">
            <div class="col-12">
              <table th:if="${regions.size() > 0}" class="table mt-3">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Numero pubblicazioni</th>
                    <th scope="col">Azioni</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="region : ${regions}" th:object="${region}">
                    <td th:text="*{nome}"></td>
                    <td th:text="*{books.size()}"></td>
                    <td>
                      <div class="actions-container">
                        <a th:href="@{/regions/{id}(id=*{id})}">
                          <button class="btn btn-success rounded-3 me-2">
                            <i class="fa-solid fa-eye"></i>
                          </button>
                        </a>
                        <a
                          th:href="@{/regions/edit/{id}(id=*{id}, redirect='index')}"
                        >
                          <button class="btn btn-warning rounded-3 me-2">
                            <i class="fa-solid fa-pencil"></i>
                          </button>
                        </a>
                        <form
                          class="d-inline"
                          th:action="@{/regions/delete/{id}(id=*{id})}"
                          method="post"
                        >
                          <button
                            type="button"
                            class="btn btn-danger"
                            data-bs-toggle="modal"
                            th:data-bs-target="'#modal-' + ${region.id}"
                          >
                            <i class="fa-solid fa-trash"></i>
                          </button>
                          <div
                            class="modal fade"
                            th:id="'modal-' + ${region.id}"
                            data-bs-backdrop="static"
                            data-bs-keyboard="false"
                            tabindex="-1"
                            aria-labelledby="staticBackdropLabel"
                            aria-hidden="true"
                          >
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1
                                    class="modal-title fs-5"
                                    id="staticBackdropLabel"
                                  >
                                    Elimina regione [[*{nome}]]
                                  </h1>
                                  <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                  ></button>
                                </div>
                                <div class="modal-body">
                                  <p>
                                    Sei sicuro? L'operazione è irreversibile<br />
                                    <i
                                      class="fa-solid fa-triangle-exclamation"
                                      style="color: #ebb800"
                                    ></i>
                                    Verranno eliminate tutte le pubblicazioni
                                    relative a questa regione!
                                    <i
                                      class="fa-solid fa-triangle-exclamation"
                                      style="color: #ebb800"
                                    ></i>
                                  </p>
                                </div>
                                <div class="modal-footer">
                                  <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                                  >
                                    Annulla
                                  </button>
                                  <button
                                    type="submit"
                                    class="btn btn-danger rounded-3"
                                  >
                                    Elimina
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <h2 th:unless="${regions.size() > 0}" class="text-center">
                Nessun risultato trovato
              </h2>
            </div>
          </div>
        </section>
      </div>
    </main>

    <th:block th:replace="~{fragments/resources :: bootstrapJs}"></th:block>
  </body>
</html>
