<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="~{fragments/resources :: styling}" />
    <title>Versante Nord</title>
  </head>
  <body>
    <header>
      <th:block th:replace="~{fragments/navbar}" />
    </header>
    <main>
      <div class="container">
        <section class="my-5">
          <th:block th:if="${book != null}" th:object="${book}">
            <div class="row">
                <div class="col-4">
                    <img class="copertina img-fluid" th:src="*{immagine}" alt="">
                </div>
                <div class="col-8">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h1 class="fw-bold" th:text="*{titolo}" />
                      <h5 class="mb-3" th:text="*{sottotitolo}" />
                      <h6 class="fw-light mb-4" th:text="*{autore}" />
                      <h6 class="mb-4" th:text="'€ ' + *{prezzo}" />
                    </div>
                    <div>
                      <a th:href="@{/books/edit/{id}(id=*{id}, redirect='show')}">
                        <button class="btn btn-warning rounded-3">
                          <i class="fa-solid fa-pencil"></i>
                        </button>
                      </a>
                      <form
                      class="d-inline"
                      th:action="@{/books/delete/{id}(id=*{id})}"
                      method="post"
                      >
                        <button
                          type="button"
                          class="btn btn-danger"
                          data-bs-toggle="modal"
                          th:data-bs-target="'#modal-' + ${book.id}"
                        >
                          <i class="fa-solid fa-trash"></i>
                        </button>
                        <div
                          class="modal fade"
                          th:id="'modal-' + ${book.id}"
                          data-bs-backdrop="static"
                          data-bs-keyboard="false"
                          tabindex="-1"
                          aria-labelledby="staticBackdropLabel"
                          aria-hidden="true"
                        >
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1
                                  class="modal-title fs-5"
                                  id="staticBackdropLabel"
                                >
                                  Elimina pubblicazione [[*{titolo}]]
                                </h1>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <div class="modal-body">
                                <p>Sei sicuro? L'operazione è irreversibile</p>
                              </div>
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-secondary"
                                  data-bs-dismiss="modal"
                                >
                                  Annulla
                                </button>
                                <button
                                  type="submit"
                                  class="btn btn-danger rounded-3"
                                >
                                  Elimina
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </form>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                          <!-- TODO: generare pill dinamicamente a partire dalle categorie e dalla regione -->
                          <span class="badge rounded-pill text-bg-primary">Categoria</span>
                          <span class="badge rounded-pill text-bg-primary">Categoria</span>
                          <span class="badge rounded-pill text-bg-success">Regione</span>
                        </div>
                        <div class="col-12">
                            <p th:text="*{descrizione}" />
                        </div>

                        <!-- <div class="row mt-4" th:if="${book.categorie.size() > 0}">
                          <div class="col-12">
                          <h4>Categorie</h4>
                          <ul>
                            <li th:each="categoria : ${book.categorie}" th:text="${categoria.nome}"></li>
                          </ul>
                          </div>
                        </div> -->

                    </div>
                </div>
            </div>


          </th:block>
          <h2 th:unless="${book != null}" class="text-center">
            No data found
          </h2>
        </section>


      </div>
    </main>

    <th:block th:replace="~{fragments/resources :: bootstrapJs}"></th:block>
  </body>
</html>
