a {
  text-decoration: none;
  color: inherit;
}

/* * ACCORDION */

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:hover {
  box-shadow: 0px 1px 0 0 rgba(160, 0, 0, 0.821) !important;
}

.accordion-button:not(.collapsed) {
  color: inherit !important;
  background-color: transparent !important;
}

/* * LOGO */
img.logo-img {
  height: 75px;
}

img.login-logo-img {
  height: 300px;
}

img.home-logo-img {
  height: 200px;
}
